<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2021, Bastian Leicht <mail@bastianleicht.de>
  ~
  ~ PDX-License-Identifier: BSD-2-Clause
  -->

<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="ResellerServices Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>